/*
 * Popup.css
 *
 *
 */


/* ---------------
   DEVICE SPECIFIC
 * ---------------
 */

@media screen and (max-height: 600px) { /* Small vertical resolution */
    
}


/*
 * --------------
 * Height and Width Customizations
 * --------------
 */

/* Default = Wide */
body {
    min-height: 580px;
    height: 580px;
    min-width: 495px;
    width: 495px;
}

/* Customized option: Narrow = Small iPhone size */

body.narrow {
    min-height: 500px;
    height: 500px;
    min-width: 335px;
    width: 335px;
}


/* Popup */

div[data-role="page"] {
    height: 100%;
}

div[data-role="footer"] {
    /*position: inherit;
    bottom:0px;
    width: 100%;*/
}

div[data-role="content"] {
    /* Due to fixed position footer, we need to shorten content height and let it
       handle its own overflow. If there is no footer, this can likely be removed.
    */
    overflow:auto;
    max-height:460px;
}

/* --------- Lists ------------ */

ul.circle {list-style-type: circle;}
ul.square {list-style-type: square;}
ol.upper-roman {list-style-type: upper-roman;}
ol.lower-alpha {list-style-type: lower-alpha;}

table.small td {
    border-bottom: 1px solid #b2abab;
    font-size: 0.7em;
    font-weight: normal
}

table.small th {
    border-bottom: 1px solid #d6d6d6;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 0.7em;
    font-weight: bold;
}